*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: rgba(63, 63, 63, 0.918);
    color: white;
}

body{
    background-color: rgba(128, 128, 128, 0.301);
}

.colo{
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cabezal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1{
    margin: 10px;
}

h4{
    padding: 10px;
    margin: 0px 5px;
    border-bottom: 1px solid;
}

p{
    padding: 10px;
}

.bq{
    background-color: rgba(128, 128, 128, 0.164);
    margin: 10px;
    padding: 10px;
    border-left: 3px solid grey;
    color: rgb(75, 75, 75);
}

.caja1{
    border:2px solid;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px ;
}

.caja2{
    border: 3px solid;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px;
    background-color: rgba(255, 166, 0, 0.432);
}

.container{
    position: relative;

    .relativa{
        background-color: rgba(0, 255, 255, 0.349);
        margin: 10px;
        p{
            font-size: 10px;
        }
    }
    
    .absoluta {
        background-color: rgb(0, 174, 255);
        position: absolute;
        right: 40px;
        bottom: -15px;
        border-radius: 5px;
        color: white;
        p{
            font-size: 10px;
        }
    }
    
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 10px;
    div{
        background-color: lightblue;
        color: white;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
    }
}

.cuadrado{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 15px;
}

.circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    margin: 15px;
    animation-name: circulo;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    position: relative;
}

@keyframes circulo{
    0%{
        left: 0px;
    }
    25%{
        left: 50px;
    }
    50%{
        left: 100px;
    }
    75%{
        left: 150px;
    }
    100%{
        left: 200px;
    }
}

@media (min-width:200px) and (max-width:768px){
    body{
        background-color: rgba(128, 0, 128, 0.295);
    }
}

